.page-login ion-grid,
.page-login ion-grid ion-row {
    height: 100%;
}
.page-login .conteudo-principal {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page-login .logo-cliente {
    max-width: 234px;
    width: 100%;
    margin: 0 auto;
}
.page-login .titulo {
    margin-bottom: 35px;
}
.page-login form {
    max-width: 310px;
    margin: 0 auto;
}
.page-login form ion-button {
    margin: 20px auto 0;
    width: fit-content;
    font-weight: 700;
}
.page-login .digital-protegido {
    align-self: center;
    display: flex;
    place-items: center;
}
.page-login .digital-protegido ion-icon {
    margin-right: 12px;
    font-size: 24px;
}
.page-login .digital-protegido ion-label {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--ion-color-dark);
}