.header-perfil .toolbar {
    --background: var(--ion-color-primary);
    --border-width: 0;
}
.header-perfil::after {
    display: none;
}
.header-perfil .toolbar * {
    color: white;
}
.header-perfil .toolbar {
    padding: 0 15px 0 0;
}
.header-perfil .usuario {
    --background: var(--ion-color-primary);
    --padding-bottom: 8px;
    --border-width: 0;
    --border-color: var(--ion-color-primary);
}
.header-perfil .usuario ion-icon {
    font-size: 70px;
    color: white;
    margin-right: 12px;
}
.header-perfil .usuario ion-label {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #FFFFFF;

}
.page-perfil ion-list * {
    text-decoration: none;
}
.page-perfil ion-list a {
    display: flex;
    align-items: center;
    padding: 16px 0;
    margin: 0 16px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    justify-content: space-between;
}
.page-perfil ion-list a > div {
    display: flex;
    align-items: center;
}
.page-perfil ion-list a * {
    color: var(--ion-color-dark);
}
.page-perfil ion-list ion-icon {
    font-size: 24px !important;
    margin-right: 8px !important;
}