/* Header notificações */
.header-notificacoes .toolbar {
    --background: var(--ion-color-primary);
    --border-width: 0;
}
.header-notificacoes:after {
    display: none;
}
.header-notificacoes .toolbar * {
    color: white;
}
.header-notificacoes .toolbar .subtitulo {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}
.page-notificacoes ion-item {
    --padding-start: 0;
}
.page-notificacoes ion-item ion-label {
    padding: 10px;
}