.page-compras .flex {
    display: flex;
}
.page-compras .s-via-boleto {
    padding: 12px 16px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: none;
}

.page-compras .s-via-boleto ion-label {
    display: flex;
}
.page-compras .card-compras {
    padding: 10px 20px;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.page-compras .card-compras ion-header {
    margin-bottom: 6px;
}
.page-compras .card-compras ion-header::After {
    display: none;
}
.page-compras .card-compras ion-card-subtitle:first-child {
    font-size: 12px;
}
.page-compras .card-compras ion-card-subtitle {
    font-size: 14px;
}
.page-compras .card-compras ion-card-subtitle {
    font-weight: 500;
    text-transform: capitalize;
    color: var(--ion-color-dark);
    margin-bottom: 8px;

}
.page-compras .card-compras ion-card-title {
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--ion-color-dark);
    margin-top: 12px;
}
.page-compras .card-compras ion-card-header,
.page-compras .card-compras ion-card-content {
    padding: 0;
}
.page-compras .card-compras .status::before {
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    top: -4px;
    height: 27px;
    width: 4px;
}
.page-compras .card-compras .status.efetuado::before {
    background: var(--ion-color-success);
}
.page-compras .card-compras .status.n-efetuado::before {
    background: var(--ion-color-danger);
}