

.page-home .actions-list {
    display: flex;
    flex-wrap: wrap;
}
.page-home .actions-list * {
    text-decoration: none;
}
.page-home .actions-list > a {
    display: flex;
    width: 50%;
}
.page-home .actions-list > a ion-card {
    width: 100%;
}
.page-home .actions-list > a ion-card ion-title {
    text-decoration: none;
    border: none;
    box-shadow: none;
}
.page-home .actions-list > a ion-card ion-icon {
    font-size: 50px;
}
.page-home .actions-list > a ion-card .titulo-card {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: var(--ion-color-dark);
    margin: 12px 0 0 0;
}