/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #FC6A6B;
  --ion-color-primary-rgb: 252,106,107;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #de5d5e;
  --ion-color-primary-tint: #fc797a;

  --ion-color-secondary: #ff8764;
  --ion-color-secondary-rgb: 255,135,100;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e07758;
  --ion-color-secondary-tint: #ff9374;

  --ion-color-tertiary: #992E17;
  --ion-color-tertiary-rgb: 153,46,23;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #872814;
  --ion-color-tertiary-tint: #a3432e;

  --ion-color-success: #17B543;
  --ion-color-success-rgb: 23,181,67;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #149f3b;
  --ion-color-success-tint: #2ebc56;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #FF3030;
  --ion-color-danger-rgb: 255,48,48;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e02a2a;
  --ion-color-danger-tint: #ff4545;

  --ion-color-dark: #595959;
  --ion-color-dark-rgb: 89,89,89;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #4e4e4e;
  --ion-color-dark-tint: #6a6a6a;

  --ion-color-medium: #cccccc;
  --ion-color-medium-rgb: 204,204,204;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #b4b4b4;
  --ion-color-medium-tint: #d1d1d1;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
