.titulo,
.tituloPagina {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
    color: #FC6A6B;
    margin: 0 0 40px 0;
}
/* Header de notificação */
.scrollable {
    --padding-bottom: 102px;
}

.notification-header {
    margin: 0;
}
.notification-header .container-icon,
.header-perfil .container-icon{
    position: relative;
}
.notification-header .container-icon ion-icon,
.header-perfil .container-icon ion-icon {
    font-size: 24px;
}
.notification-header ion-badge,
.header-perfil ion-badge {
    color: #ff3030;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 0;
    right: 0;
}

    /* Footer de rotas */
.routes-navigation {
    display: flex;
    text-align: center;
    justify-content: space-around;
    background: #F2F2F2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.routes-navigation * {
    text-decoration: none;
}
.routes-navigation > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: calc(100% / 4);
    padding: 12px 0 4px 0;

}

.routes-navigation > a ion-icon {
    font-size: 24px;
}
.routes-navigation > a ion-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: var(--ion-color-primary);
    margin-top: 6px;
}
.routes-navigation > a.active {
    background: var(--ion-color-primary);
    border-bottom: 2px solid var(--ion-color-primary-shade);
}
.routes-navigation > a.active ion-icon {
    color: white;
}
.routes-navigation > a.active ion-label {
    color: #fff;
}
/* Footer version */
.version-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.version-footer p {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #595959;
}

.icon-interno {
    margin-left: 0 !important;
    margin-right: 9px !important;
}