.page-pagamentos .flex {
    display: flex;
}
.page-pagamentos .card-pagamentos {
    padding: 20px;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.page-pagamentos .card-pagamentos ion-header {
    margin-bottom: 6px;
}
.page-pagamentos .card-pagamentos ion-card-subtitle:first-child {
    font-size: 12px;
}
.page-pagamentos .card-pagamentos ion-card-subtitle {
    font-size: 14px;
}
.page-pagamentos .card-pagamentos ion-card-subtitle {
    font-weight: 500;
    text-transform: capitalize;
    color: var(--ion-color-dark);
    margin-bottom: 8px;

}
.page-pagamentos .card-pagamentos ion-card-title {
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--ion-color-dark);
    margin-top: 12px;
}
.page-pagamentos .card-pagamentos ion-card-header,
.page-pagamentos .card-pagamentos ion-card-content {
    padding: 0;
}
.page-pagamentos .card-pagamentos .status::before {
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    top: -4px;
    height: 27px;
    width: 4px;
}
.page-pagamentos .card-pagamentos .status.efetuado::before {
    background: var(--ion-color-success);
}
.page-pagamentos .card-pagamentos .status.cancelado::before {
    background: var(--ion-color-danger);
}
.page-pagamentos .preco {
    box-shadow: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--ion-color-dark);
}