.page-credito .disponivel {
    color: var(--ion-color-success);
}
.page-credito ion-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 10px;
}
.page-credito ion-card ion-title {
    font-size: 14px;
    color: var(--ion-color-dark);
}
.page-credito ion-card p {
    font-weight: bold;
    font-size: 20px;
    margin: 8px 0 0;
}
.page-credito ion-button {
    margin: 20px auto 0 auto;
    display: table;
}